<div class="axisubs wrap">
   <div class="axisubs-plan_details">
      <div class="axisubs-plan_details-title">
         <h2>{{ pagetitle }}</h2>
         <div class="page-btn">
         <a class="btn page-title-action" href="?page=subscriptions-index&task=edit&user_id={{ subscriber['meta'][subscriber['ID']~'_axisubs_subscribe_user_id'] }}&sid={{ subscriber['ID'] }}">Edit</a>
         <a href="?page=subscriptions-index&task=delete&id={{ subscriber['ID'] }}" class="btn page-title-action">Delete</a>
         <a class="btn page-title-action" href="?page=subscriptions-index">Back</a>
       </div>
      </div>
      <div class="axisubs-plan_details-summary">
         <div class="axisubs-plan-billinfo-fields">
            <div class="axisubs-billinfo-f-c">
               <div class="axisubs-billinfo-f-i">
                  <span class="axisubs-billinfo-f-label">
                     <strong>Subscription Id :</strong>
                  </span>
                  <span class="axisubs-billinfo-f-field">
                     {{ subscriber['ID'] }}
                  </span>
               </div>
            </div>
         </div>
         <div class="axisubs-plan-billinfo-fields">
            <div class="axisubs-billinfo-f-c">
               <div class="axisubs-billinfo-f-i">
                  <span class="axisubs-billinfo-f-label">
                     <strong>Plan Name :</strong>
                  </span>
                  <span class="axisubs-billinfo-f-field">
                     <a class="" href="?page=plans-index&task=edit&id={{ planDetails['meta'][planDetails['ID']~'_axisubs_plans_slug'] }}&id={{ planDetails['ID'] }}">{{ planDetails['meta'][planDetails['ID']~'_axisubs_plans_name']}}</a>
                  </span>
               </div>
            </div>
         </div>
         <div class="axisubs-plan-billinfo-fields">
            <div class="axisubs-billinfo-f-c">
               <div class="axisubs-billinfo-f-i">
                  <span class="axisubs-billinfo-f-label">
                    <strong> Subscription Status :</strong>
                  </span>
                  <span class="axisubs-billinfo-f-field">
                     <span class="axisubs-data-content">
                        {{ statusText | raw }}
                     </span>
                  </span>
               </div>
            </div>
         </div>
         <div class="axisubs-plan-billinfo-fields">
            <div class="axisubs-billinfo-f-c">
               <div class="axisubs-billinfo-f-i">
                  <span class="axisubs-billinfo-f-label">
                     <strong>Trial start date :</strong>
                  </span>
                  <span class="axisubs-billinfo-f-field">
                     {{ subscriber['meta'][subscriber['ID']~'_axisubs_subscribe_trial_start_on'] }}
                  </span>
               </div>
            </div>
         </div>
         <div class="axisubs-plan-billinfo-fields">
            <div class="axisubs-billinfo-f-c">
               <div class="axisubs-billinfo-f-i">
                  <span class="axisubs-billinfo-f-label">
                     <strong>Trial end date :</strong>
                  </span>
                  <span class="axisubs-billinfo-f-field">
                     {{ subscriber['meta'][subscriber['ID']~'_axisubs_subscribe_trial_end_on'] }}
                  </span>
               </div>
            </div>
         </div>
         <div class="axisubs-plan-billinfo-fields">
            <div class="axisubs-billinfo-f-c">
               <div class="axisubs-billinfo-f-i">
                  <span class="axisubs-billinfo-f-label">
                     <strong>Subscription start date :</strong>
                  </span>
                  <span class="axisubs-billinfo-f-field">
                     {{ subscriber['meta'][subscriber['ID']~'_axisubs_subscribe_start_on'] }}
                  </span>
               </div>
            </div>
         </div>
         <div class="axisubs-plan-billinfo-fields">
            <div class="axisubs-billinfo-f-c">
               <div class="axisubs-billinfo-f-i">
                  <span class="axisubs-billinfo-f-label">
                     <strong>Subscription end date :</strong>
                  </span>
                  <span class="axisubs-billinfo-f-field">
                     {{ subscriber['meta'][subscriber['ID']~'_axisubs_subscribe_end_on'] }}
                  </span>
               </div>
            </div>
         </div>
         <div class="axisubs-plan-billinfo-fields">
            <div class="axisubs-billinfo-f-c">
               <div class="axisubs-billinfo-f-i">
                  <span class="axisubs-billinfo-f-label">
                     <strong>Price :</strong>
                  </span>
                  <span class="axisubs-billinfo-f-field">
                     {{ currencyData['code']~subscriber['meta'][subscriber['ID']~'_axisubs_subscribe_price'] }}
                  </span>
               </div>
            </div>
         </div>
         <div class="axisubs-plan-billinfo-fields">
            <div class="axisubs-billinfo-f-c">
               <div class="axisubs-billinfo-f-i">
                  <span class="axisubs-billinfo-f-label">
                     <strong>Setup cost :</strong>
                  </span>
                  <span class="axisubs-billinfo-f-field">
                     {{ currencyData['code']~subscriber['meta'][subscriber['ID']~'_axisubs_subscribe_setup_cost'] }}
                  </span>
               </div>
            </div>
         </div>
         {{ data['aditionalPrices'] | raw }}
         <div class="axisubs-plan-billinfo-fields">
            <div class="axisubs-billinfo-f-c">
               <div class="axisubs-billinfo-f-i">
                  <span class="axisubs-billinfo-f-label">
                     <strong>Total Price :</strong>
                  </span>
                  <span class="axisubs-billinfo-f-field">
                     {{ currencyData['code']~subscriber['meta'][subscriber['ID']~'_axisubs_subscribe_total_price'] }}
                  </span>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="axisubs-plan-billinfo-con">
      <div class="axisubs-plan_details-title">
         <h3>Billing Info</h3>
      </div>
      <div class="axisubs-plan-billinfo-fields">
         <div class="axisubs-billinfo-f-c">
            <div class="axisubs-billinfo-f-i">
               <span class="axisubs-billinfo-f-label">
                  <strong>Customer name :</strong>
               </span>
               <span class="axisubs-billinfo-f-field">
                  {{ subscriber['meta'][subscriber['ID']~'_axisubs_subscribe_first_name'] }}
                  {{ subscriber['meta'][subscriber['ID']~'_axisubs_subscribe_last_name'] }}
               </span>
            </div>
         </div>
         <div class="axisubs-billinfo-f-c">
            <div class="axisubs-billinfo-f-i">
               <span class="axisubs-billinfo-f-label">
                  <strong>Email :</strong>
               </span>
               <span class="axisubs-billinfo-f-field">
                  {{ subscriber['meta'][subscriber['ID']~'_axisubs_subscribe_email'] }}
               </span>
            </div>
         </div>
         <div class="axisubs-billinfo-f-c">
            <div class="axisubs-billinfo-f-i">
               <span class="axisubs-billinfo-f-label">
                  <strong>Address :</strong>
               </span>
               <span class="axisubs-billinfo-f-field">
                  {{ subscriber['meta'][subscriber['ID']~'_axisubs_subscribe_address_line1'] }},
                  {{ subscriber['meta'][subscriber['ID']~'_axisubs_subscribe_address_line2'] }},
                  {{ subscriber['meta'][subscriber['ID']~'_axisubs_subscribe_city'] }},
                  {{ data['province'] }},
                  {{ data['country'] }}
               </span>
            </div>
         </div>
      </div>
   </div>
</div>
