{% extends '@Axisubs/Admin/tabs/tab.twig' %}

{% block body %}
<div class="axisubs wrap">
    <h2>{{ pagetitle }}
    </h2>

    <form method="post" action="">
        <div class="axisubs-apps">
              {% for app in apps %}
                  <div class="axisubs-app-container">
                      <div class="axisubs-app-container-i">
                          <div class="axisubs-app-name">
                              {{ app['Title'] }}
                          </div>
                          <div class="axisubs-app-description">
                              {{ app['Description'] }}
                          </div>
                          <div class="axisubs-app-url">
                            <a href="{{ app['PluginURI'] }}"> {{ app['PluginURI'] }}</a>
                          </div>
                          <div class="app-footer">
                          <div class="axisubs-app-author">
                              {{ app['AuthorName'] }}
                          </div>
                          <div class="axisubs-app-version">
                              Version: {{ app['Version'] }}
                          </div>
                        </div>
                          <div class="axisubs-app-buttons">
                              {% if app['active'] == true %}
                                  {% set urlEnableDisable = '?page=app-index&task=disable&p='~app['pluginPath'] %}
                                  {% set enableDisableC = 'Disable' %}
                                  <a class="page-title-action app-button-view" href="?page=app-index&task=view&p={{ app['pluginFolder'] }}">View</a>
                              {% else %}
                                  {% set urlEnableDisable = '?page=app-index&task=enable&p='~app['pluginPath'] %}
                                  {% set enableDisableC = 'Enable' %}
                              {% endif %}
                              <a class="page-title-action" href="{{ urlEnableDisable }}">{{ enableDisableC }}</a>
                          </div>
                      </div>
                  </div>
              {% else %}
                  <div class="row">
                      No App found.
                  </div>
              {% endfor %}
          </div>
    </form>
</div>
{% endblock %}
