<div class="axisubs wrap">
   <div class="axisubs-plan_details-header">
      <div class="axisubs-plan_details-title">
         <h3>{{ pagetitle }}</h3>
      </div>
      <div class="axisubs-plan_details-summary">
         <div class="axisubs-plan-billinfo-fields">
            <div class="axisubs-billinfo-f-c">
               <div class="axisubs-billinfo-f-i">
                  <div class="axisubs-billinfo-f-label">
                     Subscription Id
                  </div>
                  <div class="axisubs-billinfo-f-field">
                     {{ subscriber['ID'] }}
                  </div>
               </div>
            </div>
         </div>
         <div class="axisubs-plan-billinfo-fields">
            <div class="axisubs-billinfo-f-c">
               <div class="axisubs-billinfo-f-i">
                  <div class="axisubs-billinfo-f-label">
                     Plan Name
                  </div>
                  <div class="axisubs-billinfo-f-field">
                     <a class="" href="index.php?axisubs_plan=plans&task=view&slug={{ planDetails['meta'][planDetails['ID']~'_axisubs_plans_slug'] }}&id={{ planDetails['ID'] }}">{{ planDetails['meta'][planDetails['ID']~'_axisubs_plans_name']}}</a>
                  </div>
               </div>
            </div>
         </div>
         <div class="axisubs-plan-billinfo-fields">
            <div class="axisubs-billinfo-f-c">
               <div class="axisubs-billinfo-f-i">
                  <div class="axisubs-billinfo-f-label">
                     Subscription Status
                  </div>
                  <div class="axisubs-billinfo-f-field">
                     {{ statusText }}
                  </div>
               </div>
            </div>
         </div>
         <div class="axisubs-plan-billinfo-fields">
            <div class="axisubs-billinfo-f-c">
               <div class="axisubs-billinfo-f-i">
                  <div class="axisubs-billinfo-f-label">
                     Subscription start date
                  </div>
                  <div class="axisubs-billinfo-f-field">
                     {{ subscriber['meta'][subscriber['ID']~'_axisubs_subscribe_start_on'] }}
                  </div>
               </div>
            </div>
         </div>
         <div class="axisubs-plan-billinfo-fields">
            <div class="axisubs-billinfo-f-c">
               <div class="axisubs-billinfo-f-i">
                  <div class="axisubs-billinfo-f-label">
                     Subscription end date
                  </div>
                  <div class="axisubs-billinfo-f-field">
                     {{ subscriber['meta'][subscriber['ID']~'_axisubs_subscribe_end_on'] }}
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="axisubs-plan-billinfo-con">
      <div class="axisubs-plan_details-title">
         <h3>Billing Info</h3>
      </div>
      <div class="axisubs-plan-billinfo-fields">
         <div class="axisubs-billinfo-f-c">
            <div class="axisubs-billinfo-f-i">
               <div class="axisubs-billinfo-f-label">
                  Customer name
               </div>
               <div class="axisubs-billinfo-f-field">
                  {{ subscriber['meta'][subscriber['ID']~'_axisubs_subscribe_first_name'] }}
                  {{ subscriber['meta'][subscriber['ID']~'_axisubs_subscribe_last_name'] }}
               </div>
            </div>
         </div>
         <div class="axisubs-billinfo-f-c">
            <div class="axisubs-billinfo-f-i">
               <div class="axisubs-billinfo-f-label">
                  Email
               </div>
               <div class="axisubs-billinfo-f-field">
                  {{ subscriber['meta'][subscriber['ID']~'_axisubs_subscribe_email'] }}
               </div>
            </div>
         </div>
         <div class="axisubs-billinfo-f-c">
            <div class="axisubs-billinfo-f-i">
               <div class="axisubs-billinfo-f-label">
                  Address
               </div>
               <div class="axisubs-billinfo-f-field">
                  {{ subscriber['meta'][subscriber['ID']~'_axisubs_subscribe_address_line1'] }},
                  {{ subscriber['meta'][subscriber['ID']~'_axisubs_subscribe_address_line2'] }},
                  {{ subscriber['meta'][subscriber['ID']~'_axisubs_subscribe_city'] }},
                  {{ subscriber['meta'][subscriber['ID']~'_axisubs_subscribe_province'] }},
                  {{ subscriber['meta'][subscriber['ID']~'_axisubs_subscribe_country'] }}
               </div>
            </div>
         </div>
      </div>
   </div>
   <div>
      <a class="axisubs-btn" href="{{ subscribtions_url }}">Back to Subscriptions</a>
   </div>
</div>