<div class="axisubs wrap">
   <div class="axisubs-plan_details-header">
      <div class="axisubs-plan_details-title">
         <h3>{{ pagetitle }}</h3>
         <a class="btn page-title-action" href="?page=subscriptions-index&task=edit&user_id={{ subscriber['meta'][subscriber['ID']~'_axisubs_subscribe_user_id'] }}&sid={{ subscriber['ID'] }}">Edit</a>
         <a href="?page=subscriptions-index&task=delete&id={{ subscriber['ID'] }}" class="btn page-title-action">Delete</a>
         <a class="btn page-title-action" href="?page=subscriptions-index">Back</a>
      </div>
      <div class="axisubs-plan_details-summary">
         <div class="axisubs-plan-billinfo-fields">
            <div class="axisubs-billinfo-f-c">
               <div class="axisubs-billinfo-f-i">
                  <div class="axisubs-billinfo-f-label">
                     Subscription Id
                  </div>
                  <div class="axisubs-billinfo-f-field">
                     {{ subscriber['ID'] }}
                  </div>
               </div>
            </div>
         </div>
         <div class="axisubs-plan-billinfo-fields">
            <div class="axisubs-billinfo-f-c">
               <div class="axisubs-billinfo-f-i">
                  <div class="axisubs-billinfo-f-label">
                     Plan Name
                  </div>
                  <div class="axisubs-billinfo-f-field">
                     <a class="" href="?page=plans-index&task=edit&id={{ planDetails['meta'][planDetails['ID']~'_axisubs_plans_slug'] }}&id={{ planDetails['ID'] }}">{{ planDetails['meta'][planDetails['ID']~'_axisubs_plans_name']}}</a>
                  </div>
               </div>
            </div>
         </div>
         <div class="axisubs-plan-billinfo-fields">
            <div class="axisubs-billinfo-f-c">
               <div class="axisubs-billinfo-f-i">
                  <div class="axisubs-billinfo-f-label">
                     Subscription Status
                  </div>
                  <div class="axisubs-billinfo-f-field">
                     {{ statusText }}
                  </div>
               </div>
            </div>
         </div>
         <div class="axisubs-plan-billinfo-fields">
            <div class="axisubs-billinfo-f-c">
               <div class="axisubs-billinfo-f-i">
                  <div class="axisubs-billinfo-f-label">
                     Trial start date
                  </div>
                  <div class="axisubs-billinfo-f-field">
                     {{ subscriber['meta'][subscriber['ID']~'_axisubs_subscribe_trial_start_on'] }}
                  </div>
               </div>
            </div>
         </div>
         <div class="axisubs-plan-billinfo-fields">
            <div class="axisubs-billinfo-f-c">
               <div class="axisubs-billinfo-f-i">
                  <div class="axisubs-billinfo-f-label">
                     Trial end date
                  </div>
                  <div class="axisubs-billinfo-f-field">
                     {{ subscriber['meta'][subscriber['ID']~'_axisubs_subscribe_trial_end_on'] }}
                  </div>
               </div>
            </div>
         </div>
         <div class="axisubs-plan-billinfo-fields">
            <div class="axisubs-billinfo-f-c">
               <div class="axisubs-billinfo-f-i">
                  <div class="axisubs-billinfo-f-label">
                     Subscription start date
                  </div>
                  <div class="axisubs-billinfo-f-field">
                     {{ subscriber['meta'][subscriber['ID']~'_axisubs_subscribe_start_on'] }}
                  </div>
               </div>
            </div>
         </div>
         <div class="axisubs-plan-billinfo-fields">
            <div class="axisubs-billinfo-f-c">
               <div class="axisubs-billinfo-f-i">
                  <div class="axisubs-billinfo-f-label">
                     Subscription end date
                  </div>
                  <div class="axisubs-billinfo-f-field">
                     {{ subscriber['meta'][subscriber['ID']~'_axisubs_subscribe_end_on'] }}
                  </div>
               </div>
            </div>
         </div>
         <div class="axisubs-plan-billinfo-fields">
            <div class="axisubs-billinfo-f-c">
               <div class="axisubs-billinfo-f-i">
                  <div class="axisubs-billinfo-f-label">
                     Price
                  </div>
                  <div class="axisubs-billinfo-f-field">
                     {{ currencyData['code']~subscriber['meta'][subscriber['ID']~'_axisubs_subscribe_price'] }}
                  </div>
               </div>
            </div>
         </div>
         <div class="axisubs-plan-billinfo-fields">
            <div class="axisubs-billinfo-f-c">
               <div class="axisubs-billinfo-f-i">
                  <div class="axisubs-billinfo-f-label">
                     Setup cost
                  </div>
                  <div class="axisubs-billinfo-f-field">
                     {{ currencyData['code']~subscriber['meta'][subscriber['ID']~'_axisubs_subscribe_setup_cost'] }}
                  </div>
               </div>
            </div>
         </div>
         <div class="axisubs-plan-billinfo-fields">
            <div class="axisubs-billinfo-f-c">
               <div class="axisubs-billinfo-f-i">
                  <div class="axisubs-billinfo-f-label">
                     Total Price
                  </div>
                  <div class="axisubs-billinfo-f-field">
                     {{ currencyData['code']~subscriber['meta'][subscriber['ID']~'_axisubs_subscribe_total_price'] }}
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="axisubs-plan-billinfo-con">
      <div class="axisubs-plan_details-title">
         <h3>Billing Info</h3>
      </div>
      <div class="axisubs-plan-billinfo-fields">
         <div class="axisubs-billinfo-f-c">
            <div class="axisubs-billinfo-f-i">
               <div class="axisubs-billinfo-f-label">
                  Customer name
               </div>
               <div class="axisubs-billinfo-f-field">
                  {{ subscriber['meta'][subscriber['ID']~'_axisubs_subscribe_first_name'] }}
                  {{ subscriber['meta'][subscriber['ID']~'_axisubs_subscribe_last_name'] }}
               </div>
            </div>
         </div>
         <div class="axisubs-billinfo-f-c">
            <div class="axisubs-billinfo-f-i">
               <div class="axisubs-billinfo-f-label">
                  Email
               </div>
               <div class="axisubs-billinfo-f-field">
                  {{ subscriber['meta'][subscriber['ID']~'_axisubs_subscribe_email'] }}
               </div>
            </div>
         </div>
         <div class="axisubs-billinfo-f-c">
            <div class="axisubs-billinfo-f-i">
               <div class="axisubs-billinfo-f-label">
                  Address
               </div>
               <div class="axisubs-billinfo-f-field">
                  {{ subscriber['meta'][subscriber['ID']~'_axisubs_subscribe_address_line1'] }},
                  {{ subscriber['meta'][subscriber['ID']~'_axisubs_subscribe_address_line2'] }},
                  {{ subscriber['meta'][subscriber['ID']~'_axisubs_subscribe_city'] }},
                  {{ subscriber['meta'][subscriber['ID']~'_axisubs_subscribe_province'] }},
                  {{ subscriber['meta'][subscriber['ID']~'_axisubs_subscribe_country'] }}
               </div>
            </div>
         </div>
      </div>
   </div>
</div>