{% extends '@Axisubs/Admin/tabs/tab.twig' %}

{% block body %}
<div class="axisubs wrap axis-head">
    <h1>{{ pagetitle }}
        <a class="page-title-action" href="?page=customers-index&flag=choose_customer">Add New</a>
    </h1>
    <form method="post" action="?page=subscriptions-index" id="axisubs_list_form">
        {% set subscribers = items %}
        <div class="axisubs-subscribed-con">
            {% for subscribe in subscribers %}
                {% set plan = subscribe['plan'] %}
                {% set planMeta = subscribe['plan']['meta'] %}
                {% set meta = subscribe['meta'] %}
                <div class="axisubs-subscribed-i-con">
                    <div class="axisubs-subscribed-i">
                        <div class="axisubs-subscribed-i-block">
                            <div class="axisubs-subscribed-block-data">
                                <span class="axisubs-data-title">Subscription Id: </span>
                                <span class="axisubs-data-content">{{ subscribe['ID'] }}</span>
                            </div>
                            <div class="axisubs-subscribed-block-data">
                                <span class="axisubs-data-title">Plan Name: </span>
                                <span class="axisubs-data-content">{{ planMeta[plan['ID']~'_axisubs_plans_name'] }}</span>
                            </div>
                        </div>

                        <div class="axisubs-subscribed-i-block">
                            <div class="axisubs-subscribed-block-data">
                                <span class="axisubs-data-title">Start Date: </span>
                                <span class="axisubs-data-content">{{ meta[subscribe['ID']~'_axisubs_subscribe_start_on'] }}</span>
                            </div>
                            <div class="axisubs-subscribed-block-data">
                                <span class="axisubs-data-title">End Date: </span>
                                <span class="axisubs-data-content">{{ meta[subscribe['ID']~'_axisubs_subscribe_end_on'] }}</span>
                            </div>
                        </div>

                        <div class="axisubs-subscribed-i-block">
                            <div class="axisubs-subscribed-block-data">
                                <span class="axisubs-data-title">Total Cost: </span>
                                <span class="axisubs-data-content">{{ meta[subscribe['ID']~'_axisubs_subscribe_total_price'] }}</span>
                            </div>
                            <div class="axisubs-subscribed-block-data">
                                <span class="axisubs-data-title">Status: </span>
                                <span class="axisubs-data-content">{{ meta[subscribe['ID']~'_axisubs_subscribe_status'] }}</span>
                            </div>
                        </div>

                        <div class="axisubs-subscribed-i-block">
                            <div class="axisubs-subscribed-block-data">
                                <a class="page-title-action" href="{{ '?page=subscriptions-index&sid='~subscribe['ID'] }}">View Details</a>
                                <a class="page-title-action" href="{{ '?page=subscriptions-index&task=edit&user_id='~meta[subscribe['ID']~'_axisubs_subscribe_user_id']~'&sid='~subscribe['ID'] }}">Edit</a>
                            </div>
                            <div class="axisubs-subscribed-block-data">
                                {% if meta[subscribe['ID']~'_axisubs_subscribe_status'] == 'PENDING' %}
                                    <a class="page-title-action" href="?page=subscriptions-index&task=activate&id={{ subscribe['ID'] }}">Mark Active</a>
                                {% endif %}
                                {% if meta[subscribe['ID']~'_axisubs_subscribe_status'] != 'PENDING' %}
                                    <a class="page-title-action" href="?page=subscriptions-index&task=pending&id={{ subscribe['ID'] }}">Mark Pending</a>
                                {% endif %}
                                {% if meta[subscribe['ID']~'_axisubs_subscribe_status'] != 'CANCELED' %}
                                    <a class="page-title-action" href="?page=subscriptions-index&task=cancel&id={{ subscribe['ID'] }}">Mark Canceled</a>
                                {% endif %}

                                <a class="page-title-action" href="?page=subscriptions-index&task=delete&id={{ subscribe['ID'] }}">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    No subscription found.
                </div>
            {% endfor %}
        </div>
        {{ paginationD['limitbox'] | raw }}
        {{ paginationD['links'] | raw }}
    </form>
</div>
{% endblock %}
