{% set customerMeta = item['meta'] %}
{% set customerPrefix = item['ID']~'_'~item['post_type']~'_' %}
<div class="axisubs wrap">
   <div class="axisubs-plan_details-header">
      <div class="axisubs-plan_details-title">
         <h3>{{ pagetitle }}</h3>
      </div>
      <div class="axisubs-plan-billinfo-con">
         <div class="axisubs-plan_details-title">
            <h3>Customer details</h3>
         </div>
         <div class="axisubs-plan-billinfo-fields">
            <div class="axisubs-billinfo-f-c">
               <div class="axisubs-billinfo-f-i">
                  <div class="axisubs-billinfo-f-label">
                     Customer Name
                  </div>
                  <div class="axisubs-billinfo-f-field">
                     {{ customerMeta[customerPrefix~'first_name'] }}
                     {{ customerMeta[customerPrefix~'last_name'] }}
                  </div>
               </div>
            </div>
            <div class="axisubs-billinfo-f-c">
               <div class="axisubs-billinfo-f-i">
                  <div class="axisubs-billinfo-f-label">
                     Email
                  </div>
                  <div class="axisubs-billinfo-f-field">
                     {{ customerMeta[customerPrefix~'email'] }}
                  </div>
               </div>
            </div>
            <div class="axisubs-billinfo-f-c">
               <div class="axisubs-billinfo-f-i">
                  <div class="axisubs-billinfo-f-label">
                     Address
                  </div>
                  <div class="axisubs-billinfo-f-field">
                     {{ customerMeta[customerPrefix~'address_line1'] }},
                     {{ customerMeta[customerPrefix~'address_line2'] }},
                     {{ customerMeta[customerPrefix~'city'] }},
                     {{ customerMeta[customerPrefix~'province'] }},
                     {{ customerMeta[customerPrefix~'country'] }}
                  </div>
               </div>
            </div>
         </div>
         <div class="clear"></div>
         <div class="axisubs_button_container">
            <a class="page-title-action" href="?page=customers-index&task=edit&id={{ customerMeta[customerPrefix~'user_id'] }}">Edit</a>
         </div>
      </div>
      <div class="axisubs-plan-billinfo-con">
         <div class="axisubs-plan_details-title">
            <h3>Subscription details</h3>
         </div>
      </div>
      <div class="subscribed-item-con">
         {% set subscriptions = item['subscription'] %}
         {% for subscription in subscriptions %}
            {% set plan = subscription['plan'] %}
            {% set planMeta = subscription['plan']['meta'] %}
            {% set subscriptionMeta = subscription['meta'] %}
            {% set planPrefix = plan['ID']~'_axisubs_plans_' %}
            {% set subscriptionPrefix = subscription['ID']~'_axisubs_subscribe_' %}
            <div class="item">
               <span class="transaction-history-text">Plan Name: </span>{{ planMeta[planPrefix~'name'] }}
               <span class="transaction-history-text">Price: </span>{{ subscriptionMeta[subscriptionPrefix~'total_price'] }}
               <span class="transaction-history-text">Status: </span>{{ subscriptionMeta[subscriptionPrefix~'status'] }}
            </div>
         {% else %}
            No Subscription created
         {% endfor %}
      </div>
   </div>
</div>