{% set customerMeta = item['meta'] %}
{% set customerPrefix = item['ID']~'_'~item['post_type']~'_' %}
<div class="axisubs wrap">
   <div class="axisubs-plan_details">
      <div class="axisubs-plan_details-title">
         <h2>{{ pagetitle }}</h2>
      </div>
      <div class="axisubs-plan-billinfo-con">
         <div class="axisubs-plan_details-title">
            <h3>Customer details</h3>
         </div>
         <div class="axisubs-plan-billinfo-fields">
            <div class="axisubs-billinfo-f-c">
               <div class="axisubs-billinfo-f-i">
                  <span class="axisubs-billinfo-f-label">
                     Customer Name :
                  </span>
                  <span class="axisubs-billinfo-f-field">
                     {{ customerMeta[customerPrefix~'first_name'] }}
                     {{ customerMeta[customerPrefix~'last_name'] }}
                  </span>
               </div>
            </div>
            <div class="axisubs-billinfo-f-c">
               <div class="axisubs-billinfo-f-i">
                  <span class="axisubs-billinfo-f-label">
                     Email :
                  </span>
                  <span class="axisubs-billinfo-f-field">
                     {{ customerMeta[customerPrefix~'email'] }}
                  </span>
               </div>
            </div>
            <div class="axisubs-billinfo-f-c">
               <div class="axisubs-billinfo-f-i">
                  <span class="axisubs-billinfo-f-label">
                     Address :
                  </span>
                  <span  class="axisubs-billinfo-f-field">
                     {{ customerMeta[customerPrefix~'address_line1'] }},
                     {{ customerMeta[customerPrefix~'address_line2'] }},
                     {{ customerMeta[customerPrefix~'city'] }},
                     {{ data['province'] }},
                     {{ data['country'] }}
                  </span>
               </div>
            </div>
         </div>
         <div class="clear"></div>
         <div class="axisubs_button_container page-btn">
            <a class="page-title-action" href="?page=customers-index&task=edit&id={{ customerMeta[customerPrefix~'user_id'] }}">Edit</a>
            <a class="btn page-title-action" href="?page=customers-index">Back</a>
         </div>
      </div>
      <div class="axisubs-plan-billinfo-con">
         <div class="axisubs-plan_details-title">
            <h3>Subscription details</h3>
         </div>
      </div>
      <div class="subscribed-item-con">
         {% set subscriptions = item['subscription'] %}
         {% for subscription in subscriptions %}
            {% set plan = subscription['plan'] %}
            {% set planMeta = subscription['plan']['meta'] %}
            {% set subscriptionMeta = subscription['meta'] %}
            {% set planPrefix = plan['ID']~'_axisubs_plans_' %}
            {% set subscriptionPrefix = subscription['ID']~'_axisubs_subscribe_' %}
            <div class="item-customer-details">
               <span class="customer-info"><span class="transaction-history-text">Plan Name: </span>{{ planMeta[planPrefix~'name'] }}</span>
               <span class="customer-info"><span class="transaction-history-text">Price: </span>{{ subscriptionMeta[subscriptionPrefix~'total_price'] }}</span>
               <span class="customer-info"><span class="transaction-history-text">Status: </span>{{ subscriptionMeta[subscriptionPrefix~'status'] }}</span>
            </div>
         {% else %}
            No Subscription created
         {% endfor %}
      </div>
   </div>
</div>
