{% extends '@Axisubs/Admin/tabs/tab.twig' %}

{% block body %}
    {% set choose_customer = 0 %}
    {% if data['flag'] == 'choose_customer'  %}
        {% set choose_customer = 1 %}
    {% endif %}
    <div class="axisubs wrap">
        <h1>{{ pagetitle }}
            <a class="page-title-action" href="?page=customers-index&task=edit">Add New</a>
        </h1>
        {% if choose_customer %}
            <div class="info">
                <p>Choose customer First</p>
            </div>
        {% endif %}
        <form method="post" action="?page=customers-index{% if choose_customer %}&flag=choose_customer{% endif %}" id="axisubs_list_form">
            <div class="axisubs-plans">
                <div class="axisubs-plans">
                    {% for item in items %}
                        {% set metaPrefix = item['ID']~'_'~item['post_type']~'_'  %}
                        <div class="row">
                            <div class="col-3">
                                <div class="col-data">
                                    <span class="col-data-title">Customer Id: </span>
                                    <span class="col-data-content">{{ item['ID'] }}</span>
                                </div>
                                <div class="col-data">
                                    <span class="col-data-title">Subscriptions: </span>
                                    {% if item['subscription'] is empty %}
                                        {% set customerSubs = 'No subscriptions' %}
                                        <span class="col-data-content">{{ customerSubs }}</span>
                                    {% else %}
                                        {% set plan = item['subscription']['0']['plan'] %}
                                        {% set planMeta = item['subscription']['0']['plan']['meta'] %}
                                        {% set subcriptionMeta = item['subscription']['0']['meta'] %}
                                        {% set customerSubs = planMeta[plan['ID']~'_axisubs_plans_name'] %}
                                        <div class="load_more_subscriptions" data-attr="{{ item['meta'][metaPrefix~'user_id'] }}">
                                            <a>{{ customerSubs }}</a><span class="more_subscriptions">...</span>
                                            <span class="more_subscriptions-data-left-arrow"></span>
                                            <div class="more_subscriptions-data">
                                            </div>
                                        </div>
                                    {% endif %}

                                </div>
                            </div>
                            <div class="col-3">
                                <div class="col-data">
                                    <span class="col-data-title">Name: </span>
                                    <span class="col-data-content">{{ item['meta'][metaPrefix~'first_name']~' '~item['meta'][metaPrefix~'last_name'] }}</span>
                                </div>
                                <div class="col-data">
                                    <span class="col-data-title">Email: </span>
                                    <span class="col-data-content">{{ item['meta'][metaPrefix~'email'] }}</span>
                                </div>
                                <div class="col-data">
                                    <span class="col-data-title">Country: </span>
                                    {% set country = data['countries'][item['meta'][metaPrefix~'country']] %}
                                    <span class="col-data-content">{{ country }}</span>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="col-data">
                                    <span class="col-data-title">Phone: </span>
                                    <span class="col-data-content">{{ item['meta'][metaPrefix~'phone'] }}</span>
                                </div>
                                <div class="col-data">
                                    <span class="col-data-title">Created On: </span>
                                    <span class="col-data-content">{{ item['post_date'] }}</span>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="col-data">
                                    {% if choose_customer %}
                                        <span class="col-data-content">
                                            <a class="page-title-action" href="?page=subscriptions-index&task=edit&user_id={{ item['meta'][metaPrefix~'user_id'] }}">Choose customer</a>
                                        </span>
                                    {% else %}
                                    <span class="col-data-content">
                                        <a class="page-title-action" href="?page=customers-index&task=view&id={{ item['meta'][metaPrefix~'user_id'] }}">View</a>
                                    </span>
                                    <span class="col-data-content">
                                        <a class="page-title-action" href="?page=customers-index&task=edit&id={{ item['meta'][metaPrefix~'user_id'] }}">Edit</a>
                                    </span>
                                    <span class="col-data-content">
                                        <a class="page-title-action" href="?page=customers-index&task=delete&id={{ item['meta'][metaPrefix~'user_id'] }}">Delete</a>
                                    </span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="row">
                            No customer available.
                        </div>
                    {% endfor %}
                </div>
                {{ paginationD['limitbox'] | raw }}
                {{ paginationD['links'] | raw }}
            </div>
            <input type="hidden" id="site_url" name="site_url" value="{{ site_url }}" />
        </form>
    </div>
{% endblock %}
